.wrapper, .sidebar {
    overflow: hidden;
}

.sidebar {
    overflow: hidden;
    float: right;
    width: 200px;
}

.end-game {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 208px;
    left: 0;
    height: 100%;
    padding-top: 200px;
    background-color: rgba(128, 128, 128, 0.2);
}

.options-field {
    border: 1px dashed gray;
    border-radius: 15px;
    padding: 10px;
}

input[type=number] {
    width: 2rem;
}

input:required:invalid {
    border: 1px solid red;
}
.row, fieldset{
    margin-bottom: 15px;
}
#new-game {
    display: block;
    margin: auto;
}
#error {
    text-align: center;
    color: red;
    font-weight: bolder;
}

.play-field {
    overflow: hidden;
    float: left;
    margin: 10px;
    text-align: center;
}

.disabled {
    pointer-events: none;
}

table {
    overflow: hidden;
    float: left;
    border-collapse: collapse;
}
td{
    width: 50px;
    height: 50px;
    border: 2px solid grey;
    text-align: center;
    font-size: 37px;
}
.play-field div{
    float: left;
    text-indent: 20px;
    color: blue;
    font-weight: bolder;
}
.info-field {
    text-align: center;
}

.win-cell {
    color: red;
}